video{
    /* Рамка видео */
    border: 4px solid blueviolet;    
    
}
body{
    /* Расположение текста и цвет бекграунда  */
    text-align: center;
    /* background:slategray  */
    


}  
html{
    /* Еще один бекграунд */
    /* background-color:rgba(99, 92, 92, 0); */

}

a {
    /* Кнопка Вернутся */
    border: 4.5px solid rebeccapurple;
    padding: 6px;
}

h1{
    /* Цвет текста */
    color: rebeccapurple;
}

h2{
    color: rebeccapurple;
}

h3{
    text-align: right;
}